Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-implicit-bool-conversion,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  modernize-use-nullptr
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
